* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}
#navbar {
    background-color: blue;
    padding: 24px;
    text-align: center;
}
/* Descendant Selector */
#navbar a {
    color: white
}
/* Descendant Selector */
p a {
    color: teal;
}
/* Compound Selector */
p.warning {
    background-color: red;
}
/* Grouped Selectors */
p.warning a {
    color: orange;
}