* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    font-size: 16px;
    background-image:
        linear-gradient(
            rgba(255, 255, 255, 0.445),
            rgba(255, 255, 255, 0.541)
        ),
        url(../images/background.jpg);
}
.background {
    display: flex;
    width: 80%;
    margin: 48px auto;
    min-width: 600px;
    max-width: 1000px;
}
#sidebar {
    width: 240px;
    padding: 14px;  
}
.sticky-sidebar {
    position: sticky;
    top: 24px;
}
#sidebar h4 {
    background-color: #41292c;
    padding: 14px;
    color: #ffd6ff;
    font-size: 18px;
    margin-bottom: 0px;
}
#sidebar ul {
    background-color: #ffd6ff;
    margin-top: 0px;
    padding: 10px 20px;
    border: 3x solid #41292c;
    list-style: none;
}
#sidebar li {
    border-bottom: 2px solid #41292c;
    padding: 0px 0px;
}
#sidebar li:last-child {
    border-bottom: 0px;
}
#sidebar a {
    color: #fd3e81;
    text-decoration: none;
}

.single-column {
    flex: 1;
    width: 900px;
    padding: 20px;
    background-color: #ffd6ff;
    border: 2px solid #2f2d2e;
}
.title {
    margin: 0px;
    color: #2f2d2e;
}
img {
    width: 100%;
}
div #body .subheaders2 {
    font-weight: bolder;
    font-size: 25px;
    margin: 20px;
    color: rgb(25, 66, 180);
}
div #body h3 {
    font-size: 36px;
    display: block;
    color: #41292c;
}
.subtitle {
    font-weight: 500;
    display: block;
    font-size: 36px ;
    color: #fd3e81;
}
.subtitle2 {
    font-weight: 500;
    color: #2f2d2e;
}
.bold {
    font-weight: bold;
}
.bold.title {
    font-size: 18px; 
    padding-right: 5px;
    color: #fd3e81;
}
div p {
    line-height: 1.5;
}
#hero {
    border-bottom: solid 3px black;
    margin: 10px 20px;
}
ol {
    margin-top: 50px;
}
ul li {
    padding: 5px 10px;
    line-height: 1.5;
}
.lighter {
    border: #41292c solid 2px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
}
.side-by-side {
    display: flex;
    gap: 30px;
    align-items: top;
    justify-content: space-between;
    
}
.image img {
    width: 100%;
    object-fit: contain;
}
.side-by-side .image {
    flex: 1;
    width: 300px;
    height: 200px;
}
.text {
    flex: 1;
}
#conclusion .bold.title {
    text-align: center;
}
