/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Bulletin Board assignment.

    Good luck, and have fun!
*/
.post-it {
    width: 300px;
    height: 300px;
    margin: 24px;
    padding: 24px;
    vertical-align: top;
    display: inline-block;
    font-family: cursive;
    text-align: center;
}
.thumbtack {
    background-color: rgb(235, 36, 10);
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 50%;
    margin: 5px;
    padding: 5px;
    border: solid .5px rgb(145, 18, 18);
    box-shadow: 5px 5px 5px black;
    box-shadow: inset 1px 1px 1px rgb(243, 47, 47);

}
.pink {
    background-color: palevioletred;
    text-align: center;
    box-shadow: 1px 1px 2px;
}
.blue {
    background-color: cornflowerblue;
    box-shadow: 1px 1px 2px;
}
.green {
    background-color: rgb(158, 228, 54);
    box-shadow: 1px 1px 2px;
    text-align: center;
}
.list {
    text-align: left;
}
h3 {
    border-bottom: solid 2px black;

}
.note {
    font-size: x-large;
    font-weight: 800;
    color: crimson;
}
img {
    display: inline-block;
    width: 100%;
    border: solid 20px white;
    box-shadow: 1px 1px 2px;
    margin-right: 40px;
}
#header {
    text-align: center;
    font-weight: 900;
    font-size: x-large;
    border: solid 3px red;
    border-radius: 50%;
}
.media-text {
    display: inline-block;
    vertical-align: middle;
}
b {
    color: rgb(14, 14, 73);
}
h2 {
    color: rgb(199, 66, 18);
}
#reminder {
    color: rgb(162, 16, 175);
    font-style: oblique; 
    font-size: xx-large;   
}
#p1 {
    font-size: large;
}
#p2 {
    font-size: larger;
    font-weight: 800;
}