@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Plaster&family=Signika:wght@300..700&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: "signika", sans-serif ;
    background-color: #fffcf2;
    letter-spacing: 2px;
}
#nav-background {
    width: 100%;
    position: sticky;
    top: 0px;
    background: linear-gradient( #79668f, #744ba3);
    border-bottom: solid #cd4813b0 2px;
}
#nav {
    max-width: 1100px;
    margin: 0px auto;
    padding: 0px 24px;
    display: flex;
    justify-content: right;
   
}
#nav a {
    text-decoration: none;
    color: #fffcf2;
    padding: 24px;
    font-size: 18px;
    font-weight: 600;
}
#nav a#logo {
    font-family: "plaster", system-ui;
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 1px;
    margin-right: auto;
    color: #1d0a03;
}
#hero {
    background: url(../images/hi-res/urban-hi-res-2nse.jpg);
    background-size: cover;
    display: flex;
    height: 100vh;
    position:  center;
    justify-content: center;
    align-items: center;
}
#hero-content {
    color: #fffcf2;
    background-color: #403d397a;
    padding: 30px;
    width: 100%;
    text-align: center;
}
#hero-content h1 {
    font-size: 60px;
    letter-spacing: 1px;
}
#hero-content .button {
    text-decoration: none;
    font-size: 20px;
    font-weight: 800;
    color: #fafafa;
    background-color: #cd4813;
    padding: 10px 20px;
    width: 20%;
    margin: 0px auto;
    border-radius: 10px;
    border: #1d0a03 solid 2px;
    display: block;
}
#gallery-layout {
    max-width: 800px;
    margin: 48px auto;
    text-align: center;
    background-color: #f3ebd3;
    padding: 24px;
    padding-top: 5px;
}
#gallery-layout h2 {
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 48px;
    text-decoration: underline;
    text-align: center;
    font-family: "plaster", system-ui;
}
#gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
    border-radius: 10px;
}
#gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
#layout {
    display: flex;
    justify-content: center;
    padding: 20px;
}
#card-container {
    display: flex;
    align-items: top;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#card-container .card {
    max-width: 300px;
    text-align: center;
    background-color: #252422;
    padding: 10px 20px;
    border-radius: 10px;
}
#card-container .card .image {
    width: 100%;
    height: 50%;
}
#card-container .card img {
    width: 100%;
    height: 50%;
    object-fit: cover;
    object-position: bottom;
    border: solid 2px #fffcf2;
    border-radius: 10px;
}
#card-container .card h4 {
    font-family: "plaster", system-ui;
    font-size: 24px;
    font-weight: 400px;
    letter-spacing: 2px;
    color: #fafafa;
    border-bottom: #744ba3 solid 2px;
}
#card-container .card .button.two {
    display: block;
    width: 100%;
    font-size: 16px;
    text-decoration: none;
    color: #cd4813;
    border: #cd4813 solid 2px;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 10px auto;
    text-align: center;
}
/* laptop breakpoint */
@media screen and (max-width: 870px) {
    #gallery {
        grid-template-columns: 1fr;
    }
    #card-container,
    #layout {
        flex-direction: column;
        justify-content: center; 
        padding: 30px;
    }
    #card-container .card {
        max-width: 100%;
    }
}
/* Tablet Breakpoint */
@media screen and (max-width: 750px) {
    #nav {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    #nav a#logo {
        width: 100%;
        text-align: center;
        padding-bottom: 0px;
        font-size: 30px;
    }
    #nav a {
        padding: 16px 24px 24px;
    }
    #hero {
        height: 50vh;
        background-position: center center;
    }
    #hero-content .button {
        width: 60%;
    }
    #hero-content h1 {
        font-size: 42px;
    } 
    #hero-content h3 {
        font-size: 18px;
    }
    #hero-content .button {
        font-size: 15px;
    }
    #gallery-layout h2 {
        font-size: 30px;
    }
}
/* mobile breakpoint */
@media screen and (max-width: 470px) {
    #nav {
        flex-direction: column;
        justify-content: center;
    }
}