@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-color: #272628;
}
#nav-background {
    width: 100%;
    position: sticky;
    top:0;
    background: linear-gradient(#343235, #272628);
}
#nav {
    max-width: 1100px;
    margin: 0px auto;
    padding: 0px 24px;
    display: flex;
    justify-content: right;
}
#nav a {
    text-decoration: none;
    font-family: "lora", serif;
    color: #954f3b;
    padding: 24px;
    font-size: 18px;
    margin: 5px;
    font-weight: 700;
}
#nav #logo {
    margin-right: auto;
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 24px;
    font-weight: 900;
    color: #923319;
}
#centered-hero {
    background: url(../images/canyon_1.jpg);
    background-size: cover;
    display: flex;
    height: 100vh;
    background-position: top top;
    justify-content: flex-start;
    padding: 10%;
}
#hero-content {
    color: white;
}
#hero-content h1 {
    font-size: 70px;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 700;
    margin-bottom: 2px;
}
#hero-content h3 {
    font-size: 32px;
    text-align: center;
    letter-spacing: 1.3px;
    font-family: "lora", serif;
    font-style: italic;
    padding-top: 0px;
    margin-top: 0px;
}
#layout {
    max-width: 800px;
    margin: 48px auto;
    text-align: center;
    
}
#layout .border {
    border: 10px solid #01afc3;
    background-color: #272628;
    padding: 0px;
    margin: 10px;
}
#layout .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #01b0c391;
    border: 10px solid #954f3b;
    gap: 24px;
    padding: 24px;
} 

#layout .gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/* laptop Breakpoint */
@media screen and (max-width: 1000px) {
    #hero-content h1 {
        font-size: 50px;
    }
}
/* TABLET BREAKPOINT */
@media screen and (max-width: 800px) {
    #nav {
        flex-wrap: wrap;
    }
    #nav {
       justify-content: center;
       align-items: center;
    }
    #nav a#logo {
        width: 100%;
        text-align: center;
        padding-bottom: 0px;
        font-size: 30px;
    }
    #nav a {
        padding: 16px 24px 24px;
    }
    #centered-hero {
        height: 40vh;
        background-position: center center;
    }
    #hero-content h1 {
        font-size: 30px;
    } 
    #hero-content h3 {
        font-size: 18px;
    }
    #layout .gallery {
        grid-template-columns: 1fr;
    }
}
/* mobile breakpoint */
@media screen and (max-width: 550px) {
    #nav {
        flex-direction: column;
        justify-content: center;
    }
    #centered-hero {
        background: linear-gradient(60deg, #01b0c3a8, #954f3b, #01b0c3c5);
        justify-content: center;
    }
      #hero-content h1 {
        font-size: 30px;
        text-align: center;
    } 
    #hero-content h3 {
        font-size: 15px;
    }
}
